<div class="background">
    <div>
        <div class="header header-container">
            <img src="assets/logo.png" class="logo">
                <span class="fonts">MAVERICK PODCAST</span>
                <img src="assets/headphone.png" class="headphone">
        </div><br>
        <div class="header1">
            <img src="assets/person.png" class="person">
            <a class="codepen-button"><span>Listen Now!</span></a>
                <span class="newfonts">LIVE PODCAST</span>
                <img src="assets/mikes.png" class="mikes">
        </div>
        <h6 class="features">FEATURES</h6>
        <div class="header2">
            <img src="assets/person.png" class="person2">
                <span class="dummy">
                    <p>High in the mountains, the air was crisp and clean. Snow-capped peaks stretched as far as the eye could see, and a lone eagle soared overhead, its majestic wings spread wide against the azure sky.</p>
                    <br>
                    <p>In the bustling city streets, people hurried about their business, their faces buried in smartphones and briefcases swinging at their sides. The aroma of freshly brewed coffee wafted from nearby cafes, enticing passersby</p>
                    <br>
                    <p>This is the third dummy paragraph. This is the third dummy paragraph. This is the third dummy paragraph. This is the third dummy paragraph.This is the third dummy paragraph.This is the third dummy paragraph.This is the third dummy paragraph.This is the third dummy paragraph.</p>
                </span>
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="assets/corporate.png" class="corporate">
        </div>
        <div class="purple1">
            <p class="para">
                In the bustling city streets, people hurried about their business, their faces buried in smartphones and briefcases swinging at their sides. The aroma of freshly brewed coffee wafted from nearby cafes, enticing passersby.
                High in the mountains, the air was crisp and clean. Snow-capped peaks stretched as far as the eye could see, and a lone eagle soared overhead, its majestic wings spread wide against the azure sky.
            </p>
        </div>
        <div class="purple">
        <div class="header2">
            <img src="assets/together.png" class="together">
            <span>
                <p class="letswork"> Lets work Together</p>
            </span>
        </div>
    </div>
    <h6 class="features"> MEDIA FEATURES</h6>
    <div class="containers">
    <h6 class="fonts1"><img src="assets/logo.png" class="small">
        Accenture</h6>
    <span><h6 class="fonts1"><img src="assets/logo.png" class="small">
        ATCI</h6></span>
</div>
<br>
    <div class="containers">
    <h6 class="fonts1"><img src="assets/logo.png" class="small">
        Cloud First</h6>
    <span><h6 class="fonts1"><img src="assets/logo.png" class="small">
        Avanade</h6></span>
    </div>
    
    </div>
</div>